body{
    font-size: 10pt;
}


.ancho_registro_tabla td, td ,th{
    position:relative;
    border-bottom: 0px !important;
}

.nombre_th{
    text-align: left !important;
}



h1{
    text-align: center;
}

.fecha{
    width: 13mm;
}

.fecha_inicial{
    /* padding-right: 3mm; */
  width: 12mm;
  /* text-align: left; */
}


.nro_afiliado{
	width: 20mm;
}



.nombre{
	width: 76mm;
}

.documento{
	width: 27mm;
}

.motivo_baja{
        text-align: center;
	width: 25mm;
}

.cuota {
  width: 37mm;
 }

.nacionalidad{
	width: 21mm;
}

.sexo{
	width: 13mm;
}

.fecha_ingreso{
	width: 23mm;
        text-align: center;
}

.fecha_egreso{
	width: 23mm;
        text-align: center;
}

.cargo{
	width: 21mm;
}

.fecha_afiliacion{
	width: 23mm;
        
}

.ubicacion{
	width: 20mm;
}

/*GENERACION DE PAGINAS*/
.nro_afiliado_generacion{
	width: 18mm;
}



.nombre_generacion{
	width: 70mm;
}

.documento_generacion{
	width: 29mm;
}

.motivo_baja_generacion{
        text-align: center;
	width: 25mm;
}

.cuota_generacion {
  width: 37mm;
 }

.nacionalidad_generacion{
	width: 21mm;
}

.sexo_generacion{
	width: 13mm;
}

.fecha_ingreso_generacion{
	width: 24mm;
        text-align: center;
}

.fecha_egreso_generacion{
	width: 23mm;
        text-align: center;
}

.cargo_generacion{
	width: 21mm;
}

.fecha_afiliacion_generacion{
	width: 23mm;
        
}

.ubicacion_generacion{
	width: 20mm;
}
.fecha_generacion{
    width: 12mm;
}


/**/
