
a[href]:after {
    content: none !important;    
}

h1 img, h2 img, h3 img, h4 img{
  height: 20px;
}

h1{
  font-size: 20px;
  font-weight: bolder;
}


h2{
  font-size: 16pt;
  font-weight: bolder;
}

h3{
  font-size: 14pt;
  font-weight: bolder;
}

h4, h5, h6{
  font-size: 12pt;
}
  
/* ----
Afigestion modificaciones 
---- */

.alert{
  display: none;
}

  
 
   .no-print{
       display: none;
   }
   
   .only-print{
       display: block !important;
   }

/*IMPRESIONES*/
    .fecha-print{
       display: block !important;
   }

.ocultaTabla{
        display: none;
    }
    .ocultaA{
        display: none;
    }

   
     .filtrosBusquedas{
       display: none;
   } 

   
    .pagination{
        display: none;
    }
    .personasFiltros{
        display: none;
    }
    .letraA{
        color:white !important;
    }
   
    caption{
        text-align: center !important;
    }
    
    .saltoDeLinea{
       display:block;
       page-break-before:always;
    }
    
    .saltoDePagina{
       display:block;
       page-break-before:always;
    }
    .ocultandoImpresion{
       //display: none;
   }
   .letraTabla{
       font-size: 12pt !important;
   }

   


/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   1.0 
	 
-------------------------------------------------------------- */



body { 
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
    line-height: 1.45; 
    font-family: Garamond,"Times New Roman", serif; 
    color: #000; 
    background: none; 
    font-size: 10pt; 
}

/* Headings */
h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }


p, h2, h3 { orphans: 3; widows: 3; }

code { font: 12pt Courier, monospace; } 
blockquote { margin: 1.2em; padding: 1em;  font-size: 9pt; }
hr { background-color: #ccc; }

/* Images */
a img { border: none; }
a{
  text-decoration: none!important;
  font-weight: normal!important;
}
/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

abbr[title]:after { content: " (" attr(title) ")"; }

/* Don't show linked images  */
a[href^="http://"] {color:#000; }
a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after { content: " (" attr(href) ") "; display:none; }

/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; border: 1px solid #F1F1F1 !important; padding: 1px 1px 1px 1px !important;}
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
img,tr {page-break-inside: avoid;} 


table .afgtn-icon{
 height: 14px;
  width: 14px;
}

.row{
  margin: 0;
  width: 100%;
}
/*
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }



.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
   }
   .col-sm-12 {
        width: 100%;
   }
   .col-sm-11 {
        width: 91.66666667%;
   }
   .col-sm-10 {
        width: 83.33333333%;
   }
   .col-sm-9 {
        width: 75%;
   }
   .col-sm-8 {
        width: 66.66666667%;
   }
   .col-sm-7 {
        width: 58.33333333%;
   }
   .col-sm-6 {
        width: 50%;
   }
   .col-sm-5 {
        width: 41.66666667%;
   }
   .col-sm-4 {
        width: 33.33333333%;
   }
   .col-sm-3 {
        width: 25%;
   }
   .col-sm-2 {
        width: 16.66666667%;
   }
   .col-sm-1 {
        width: 8.33333333%;
   }

*/

/* Hide various parts from the site
#header, #footer, #navigation, #rightSideBar, #leftSideBar 
{display:none;}
*/
/**
*css para imprimir Registro De Afiliados y Registro De Aportes De Afiliados
*/
@media print {
    @page{ 
      //  size: auto;   /* auto is the initial value */ 
        /* this affects the margin in the printer settings */ 
      margin-right: 0mm  ;  
       margin-left: 0mm  ;  
    } 
    
    .ancho_registro_td{
        //width: 25cm;
    }
    
    .ancho_registro_tabla{
        width: 35cm;
    }
    
    .ocultandoImpresion{
        display: none;
    }
    
    .tamanioImpresionRepDep{
        font-size: 12px !important;
    }
    
    .tamanioImpresionRepDep td {
        border-bottom: 1px solid #ddd !important;
        line-height: 0 !important;
    }
}