.navbar{
	margin-bottom: 0px;
}



.block-userlogin{

	margin-top: 10px;
}

.block-userlogin form{
	display: inline;
}

.pagination{
	text-align: center;
}


.afgtn-persona-h1-icon{
	width: 32px;
	height: 32px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: -6px;
}

.afgtn-persona-list-icon{
	margin-left: 2px;
	margin-right: 2px;
}