#imagen-ppal img{
	width: 100%;
}

#imagen-ppal .titulo{
	text-align: center;
	position: absolute;
	top: 22%;
	left: 12%;
	margin: 0px;
	text-shadow: 2px 2px #A5A1A1;
	font-size: 50pt;
	font-family: 'Lato', sans-serif;
}

#imagen-ppal .subtitulo{
	text-align: center;
	  position: absolute;
	    top: 62%;
  		left: 46%;
	  color: rgb(0, 98, 148);
	  font-size: 20pt;
	
}



.block-userlogin{
		background: rgba(135,77,27,0.93);
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

.block-userlogin a{
	color: white;
}

/* Portrait */
@media only screen 
  and (max-width: 480px) {

	.block-userlogin{
		margin: 10px 15px;
		clear: both;
		display: block;
		padding: 10px 10px;
	}
}

/* Portrait */
@media only screen 
  and (min-width: 480px) {
	.block-userlogin{
		position: absolute;
		right: 10%;
		top:20%;
		width: 50%;
		max-width: 300px;
		padding: 40px 40px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
}


.block-userlogin input{
	width: 100% !important;
    clear: both;
    display: block;
 	padding: 10px 0px;
 	font-size: 16px;
}

.block-userlogin input[type="text"], .block-userlogin input[type="password"]{
	padding: 0px;
	}

.block-userlogin input[type="submit"]{
 	background: #f09100;
}