/*Estilos Para Las Habilitaciones*/
.no-permitido-habilitacion{
    display: none;
}

.solo-habilitacion{
    display: block !important;
}

.solo-habilitacion-boton{
    display: inline-block !important;
}